@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
/*Choses géneral + Header*/
* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-color: #f3f0f2; */
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
strong {
  font-size: 37px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f2e8f0;
}
header img {
  height: 80px;
  width: 140px;
}
.navigation a {
  text-decoration: none;
  font-size: 30px;
  color: #98495f;
  padding-right: 5px;
}

.navigation {
  display: flex;
  align-items: center;
  padding-right: 50px;
}
/**ICON RETOUR**/
.icon_retour a {
  font-size: 40px;
  position: relative;
  left: 35px;
  top: 8px;
  color: #eca4ba !important;
}
/*avec js*/
.ajout-numero-panier {
  border-radius: 20px;
  color: white;
  background: #98485f;
  padding: 3px 8px;
}

/******MAIN******/
.mini-contenu {
  width: 70%;
  margin-bottom: 50px;
  box-shadow: 0 0 6px 3px #efc2e0;
  padding-bottom: 10px;
  background-color: #fbd4e08a;
  transition: 300ms;
  text-align: center;
  padding-top: 50px;
  margin: auto;
  border-radius: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
}
@keyframes anime {
  0% {
    box-shadow: 0 0 6px 3px #f5d2e9;
  }
  25% {
    box-shadow: 0 0 6px 3px #f0a6d7;
  }
  50% {
    box-shadow: 0 0 6px 3px #eed5e6;
  }
  75% {
    box-shadow: 0 0 6px 3px #e08bc4;
  }
  100% {
    box-shadow: 0 0 6px 3px #f5d2e9;
  }
}
.mini-contenu img {
  height: 300px;
  border-radius: 20px;
}
.mini-contenu p {
  padding: 10px 0;
  font-size: 22px;
}
.paragraphe {
  width: 80%;
  margin: auto;
  color: black;
  font-size: 25px;
}
#prix {
  background-color: #f7f7f7;
  padding: 5px;
  color: black;
  font-weight: bold;
}

/**CHOIX COULEUR + Bouton **/
.select {
  padding: 10px 15px;
  background-color: #f7f7f7;
  border: 1px solid #dddddd;
  border-radius: 10px;
  width: 200px;
  font-weight: bold;
}

.select:focus-visible {
  border: 1px solid #eab8db;
  outline: none;
}

.flexBoutons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 0 65px;
}
.miniFlex {
  display: flex;
  flex-direction: column;
}
.panier {
  padding: 10px 15px;
  margin: 25px 0 10px 0;
  border-radius: 10px;
  color: white;
  background: black;
  font-size: 18px;
  transition: 300ms;
  border: 1px solid rgb(19, 18, 18);
}
.panier:hover {
  background-color: #8a4376;
  cursor: pointer;
}
.flexBoutons label {
  font-weight: bold;
  margin: 8px 0;
}
.quantité {
  font-size: 18px;
  padding: 10px 15px;
  background-color: #f7f7f7;
  border: 1px solid #dddddd;
  border-radius: 10px;
  width: 110px;
  font-weight: bold;
  text-align: center;
  margin-left: 5px;
}

/****FOOTER****/
.contenu-final {
  background-color: #f2e8f0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font-size: 20px;
}
.footer-icons {
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 15px;
  /*flex-direction: column; Pour responsive */
}
.footer-icons a {
  font-size: 30px;
  color: #8a4376;
}
.contenu-final span {
  border-bottom: 1px solid #b06d9d;
  width: 80%;
}
.contenu-final p {
  padding-top: 20px;
}

/*************************@media*************************/

@media screen and (max-width: 700px) {
  .mini-contenu img {
    width: 90%;
  }
  .mini-contenu {
    width: 100%;
  }
}
@media screen and (max-width: 880px) {
  .flexBoutons {
    flex-direction: column;
  }
  .select {
    margin-left: 32px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 550px) {
  .footer-icons {
    flex-direction: column;
  }
}

/******************PAGE PANIER*******************/
main h1 {
  margin: 40px;
  font-family: "Kalam";
  text-align: center;
  font-size: 36px;
}
main h2 {
  padding: 20px 0;
}
td {
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}
th {
  width: 25%;
  padding: 5px 0px;
}
thead {
  background-color: black;
  color: white;
}
.tableau {
  width: 100%;
}
.Mon-main {
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
}
.section-panier {
  background-color: #f1e7ef;
  padding: 10px;
  border-radius: 15px 15px 0 0;
}
/*******COORDONNées******/
.coordonnées {
  background-color: #f0e6ee;
  padding: 10px 10px 50px 10px;
  border-radius: 0 0 15px 15px;
}
.contenu-form {
  width: 70%;
  margin: auto;
  /*GRID*/
  display: grid;
  gap: 20px;
}
.flex input {
  display: flex;
  width: 98%;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid darkgrey;
}
.grid {
  grid-column: span 2 / span 2;
}
/*FOCUS*/
.input {
  outline: none;
  border: none;
}
.input:focus-visible {
  border-radius: 15px;
  border: 1px solid #f7b3e0d6;
  box-shadow: 0px 1px 6px #f7b3e0d6;
}
/****BOUTON****/
.bouton {
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #0a0a0a;
  color: white /*aqua*/;
  font-size: 16px;
}
.div-bouton {
  grid-column: span 2 / span 2;
  margin: auto;
  margin-top: 20px;
}
.bouton:hover {
  color: aqua;
  cursor: pointer;
}

/******MEDIA PAGE PANIER******/
@media screen and (max-width: 605px) {
  .Mon-main {
    width: 100%;
  }
}

/****************************PAGE FINAL*****************************/
.background-image {
  background-image: url("../../back-end/images/back-image.jpeg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*CENTER LES HN*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .background-image {
    height: 400px;
  }
}
.container {
  background-color: #f1e7efc2;
  color: black;
  padding: 20px;
  text-align: center;
}
.container h1 {
  font-family: "Kalam";
  font-size: 30px;
}
.container h2,
p {
  font-size: 18px;
}
/*BOUTON MERCI*/
.container-btn {
  padding: 5px;
  background-color: #6f4f4f;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: 2px 1px 6px black;
}
.container-btn:hover {
  cursor: pointer;
  border-radius: 8px;
}

/********* css pour panier.js **********/
.imagePanierJs {
  height: 70px;
  padding-right: 10px;
  padding-left: 22px;
}
.boutonPlusMoins {
  background-color: aliceblue;
  border-radius: 20px;
  padding: 3px 10px;
  margin: 0 20px;
  border: 1px solid #eba4ba;
  font-size: 20px;
  transition: 0.3s;
}
.boutonPlusMoins:hover,
.boutonPlusMoins:active {
  cursor: pointer;
  background-color: black;
  color: #fff;
}

