/*Choses géneral + Header*/
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f2e8f0;
}
header img {
  height: 80px;
  width: 140px;
}
.navigation li a {
  text-decoration: none;
  font-size: 30px;
  color: #98495f;
  padding-right: 30px;
}

/********Le contenu********/
.contenu {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
.mini-contenu {
  width: 300px;
  margin-bottom: 50px;
  box-shadow: 0 0 6px 3px #f7d9f1;
  padding-bottom: 10px;
  background-color: #f2e8f09c;
  transition: 300ms;
}
.mini-contenu img {
  height: 200px;
  width: 100%;
}
.mini-contenu p {
  padding: 10px 0;
}
h1 {
  font-family: "Kalam", cursive;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
h2 {
  font-size: 22px;
}
main span {
  font-weight: bold;
  background-color: #b06d9d;
  padding: 5px 10px;
  color: gold;
  border-radius: 10px;
}

/******HOVER*******/
.mini-contenu:hover {
  transform: scale(1.08);
}

/****FOOTER****/
.contenu-final {
  background-color: #f2e8f0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font-size: 20px;
}
.footer-icons {
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 15px;
  /*flex-direction: column; Pour responsive */
}
.footer-icons a {
  font-size: 30px;
  color: #8a4376;
}
.contenu-final span {
  border-bottom: 1px solid #b06d9d;
  width: 80%;
}
.contenu-final p {
  padding-top: 20px;
}

/****Media****/

@media screen and (max-width: 500px) {
  .footer-icons {
    flex-direction: column;
  }
}

/******LOADING*******/
.load {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 120vh;
  background-color: #fff;
  animation: loading 4s ease-in forwards;
  background-color: #f2e8f0;
}

.cercle {
  position: relative;
  bottom: 110px;
  left: 110px;
  width: 290px;
  height: 290px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border-top-color: #99e2d0;
  border-bottom-color: #965ee6;
  animation: anime 2s linear forwards;
}
.load img {
  padding: 15px;
  position: relative;
  bottom: 110px;
  right: 150px;
  width: 200px;
  height: 200px;
  animation: peluche 2s linear forwards;
}
@keyframes peluche {
  0% {
    transform: translateY(10px);
  }
  20% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(10px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}

@keyframes anime {
  0% {
    transform: rotate(0deg);
  }
  80% {
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}
